.Container {
    width: 35%;
    background-color: white;
    box-shadow: 1px 1px 8px black;
    margin: 5px auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    text-align: left;
}

.Heading {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    /* margin-top: 10px; */
    padding: 15px;
}
Button{
    margin: 10px auto;
    background-color: green;
    border-radius: 5px;
}